.container {
  width: 100%;
  height: auto;
  margin: 0 auto;

  @include mobile {
    width: 375px;
  }

  @include tablet {
    width: 768px;
  }
  @include descktop {
    width: 1440px;
  }
}

.container--flex {
  display: block;

  @include descktop {
    display: flex;
  }
}
