.section {
  padding-top: 100px;

  @include tablet {
    padding-top: 125px;
  }

  @include descktop {
    padding-top: 120px;
  }
}

header,
section,
footer {
  display: none;
}

.section--on {
  display: block;
}
