:root {
  --color-one: #254a5a;
  --color-two: #e64926;
  --color-three: #eae9e8;
  --color-four: #cec6c4;
  --color-five: #0f303f;
  --color-style: #b7c1c5;
  --background-color: #e5e5e5;
  --gradient: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
