.new-arrival-left {
  position: relative;
}

.new-arrival-left__img {
  width: 100%;
}

.new-arrival-left__box {
  position: absolute;
  top: 0;
  padding-top: 125px;
  padding-left: 40px;

  @include tablet {
    padding-left: 50px;
    padding-top: 150px;
  }
}

.new-arrival-left__title {
  font-family: 'Cormorant Garamond';
  font-weight: 500;
  font-size: 50px;
  line-height: 1.02;
  text-transform: uppercase;
  color: #ffffff;

  margin-bottom: 15px;

  @include tablet {
    font-size: 90px;

    // width: calc(100% / 2 - 80px);
  }
}

.new-arrival-left__text {
  font-size: 12px;
  line-height: 1.36;
  color: #ffffff;
  margin-bottom: 35px;
  // width: 468px;
  width: calc(100% - 80px);

  @include tablet {
    font-size: 14px;
    width: calc(100% - 300px);
  }
}

.new-arrival-left__btn {
  border: none;
  background-color: transparent;
  line-height: 1.38;
  letter-spacing: 0.045em;
  text-transform: uppercase;
  color: var(--color-three);
}

.new-arrival-right {
  position: relative;
  width: 100%;
  // width: calc(100% / 2 + 80px);
  background-color: #cec6c4;
}

.new-arrival-right__cover {
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100% - 100px);
  // left: 100px;
  // width: 600px;
  // height: 600px;
  background-color: #ffffff;
}

.new-arrival-right__img {
  position: absolute;
  top: 140px;
  left: 30px;
  width: calc(100% - 60px);

  // top: 160px;
  // left: 210px;
  // width: 380px;
  // height: 380px;
}

.new-arrival-right__text {
  position: absolute;
  // bottom: 174px;
  // left: 245px;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
  // width: 310px;
}
